:root {
  --bg-body-dark: #242424;
  --bg-body: #2e2e2e;
  --bg-color: #383838;
  --bg-button: #FBE9E7;
  --color-button: #FF8A65;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--bg-body);
}

button {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  display: block;
  background-color: var(--bg-body);
}

.list-reset {
  list-style-type: none;
}

.page {
  font-family: 'Roboto', sans-serif;
}

.page__body {
  background-color: var(--bg-body);
}

/* Main */
.main {
  display: grid;
  grid-template-columns: 4fr auto;
  grid-template-rows: 100vh;
}

/* Password */
.password {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: fixed;
}

.box__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 10px;
  box-shadow: 0px 6px 6px 2px #242424;
}

.logo {
  text-align: center;
  font-style: italic;
}

.logo__text {
  width: 700px;
  position: absolute;
  font-size: 60px;
}

.logo__text-1 {
  top: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e74c3c;
  z-index: 2;
}

.logo__text-2 {
  top: -60px;
  left: 51%;
  transform: translate(-50%, -50%);
  color: #e67e22;
  z-index: 1;
}

.logo__text-3 {
  top: -60px;
  left: 52%;
  transform: translate(-50%, -50%);
  color: #f39c12;
  z-index: 0;
}

.content__top {
  display: flex;
  justify-content: stretch;
}

.top-content__input {
  width: 100%;
  font-size: 30px;
  color: white;
  transition: box-shadow .1s ease;
}

.top-content__input:hover {
  box-shadow: inset 0px 0px 1px 2px #f39c12;
}

.top-content__input:focus {
  box-shadow: inset 0px 0px 1px 2px #e67e22;
}

.content__body {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.body-content__text {
  font-size: 30px;
  color: white;
}

.body-content__input {
  width: 60px;
  font-size: 30px;
  color: white;
  transition: box-shadow .1s ease;
}

.body-content__input:hover {
  box-shadow: inset 0px 0px 1px 2px #e67e22;
}

.body-content__input:focus {
  box-shadow: inset 0px 0px 1px 2px #e74c3c;
}

.content__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-content {
  gap: 40px;
}

.bottom-content__column {
  display: flex;
  column-gap: 5px;
}

.bottom-content__text {
  font-size: 24px;
  color: white;
}

.bottom-content__input {
  width: 16px;
}

.content__button {
  display: flex;
  align-self: center;
  padding: 8px 24px;
  font-size: 24px;
  font-weight: 600;
  color: #e74c3c;
  border: 2px solid #e74c3c;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .1s ease, color .1s ease;
}

.content__button:hover {
  background-color: #e74c3c;
  color: white;
}

.content__button:active {
  background-color: #c0392b;
  border-color: #c0392b;;
}

/* History */
.history {
  background-color: var(--bg-body-dark);
}

.history__heading {
  padding: 20px;
  font-size: 36px;
  color: #e74c3c;
}

.history__passwords {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0px 20px 20px 20px;
  background-color: var(--bg-body-dark);
}

.history__password {
  font-size: 26px;
  color: #f39c12;
}

.password__number {
  font-size: 26px;
  color: #e67e22;
}

/* - */
.error__text {
  font-size: 20px;
  color: #f02f1a;
}

.display-none {
  display: none;
}